.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
}

.container1 .right {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.container1 .right h1 {
    text-align: center;
    
}
.container1 .right p {
    text-align: center;
}

.container1 .left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.container1 .left img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}