<section class="container1">
    
    <div class="left">
        
        <img [src]="getCurrentImage()" alt="Clothes" />
    </div>


    <div class="right">
        <h1>lorem</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempora quibusdam modi libero corporis,
             dignissimos nobis, veritatis magni sunt id beatae in dicta quis autem maxime veniam possimus, exercitationem quos.
              Cumque harum totam tempora voluptates vero repudiandae eligendi error
               fugit odit voluptatibus quas ut aliquam aliquid est molestias vel, quisquam 
               tenetur nobis voluptatem illo quos. Repellat debitis beatae, asperiores
                similique velit sint ratione possimus quam magni nihil quaerat sequi ipsa qui atque dolorum nostrum quisquam odio tenetur rerum expedita, ut voluptate assumenda maiores.
             Molestias ab autem quia labore magni in vel distinctio unde maxime, impedit rerum expedita voluptate ducimus rem.
        </p>
    </div>
</section>