
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    p {
      margin: 20px;
    }
  
    nav {
      a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  